
{% extends "layout.html" %}

{% block pageTitle %}
What is the postcode you want to search?
{% endblock %}

{% block content %}


      
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Something has went wrong</h1>
      <p class="govuk-body">
        If you typed the web address, check it is correct.
      </p>
      <p class="govuk-body">
        If the web address is correct or you selected a link or button, <a href="https://secure.dwp.gov.uk/find-a-kickstart-gateway" class="govuk-link">return to the homepage and try again</a>.
      </p>


    </div>

</div>

<script type="text/javascript">

   
</script>

{% endblock %}
