
{% extends "layout.html" %}

{% block pageTitle %}
What region would you like to find a Kickstart Gateway from? | Find a Kickstart Gateway
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" class="form" id="question-form" action="england-wide">

        <fieldset class="govuk-fieldset" id="where_fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
                What region would you like to find a Kickstart Gateway from?
            </h1>
            <span class="govuk-hint">You can choose a gateway that operates across England, or one specific to your region.</span>
          </legend> 
          <div class="govuk-form-group">
              <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="radios-1" name="place" type="radio" value="nationwide">
                    <label class="govuk-label govuk-radios__label" for="radios-1">
                      England wide
                    </label>
                  </div>
                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="radios-2" name="place" type="radio" value="nationwide">
                      <label class="govuk-label govuk-radios__label" for="radios-2">
                        East Midlands
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radios-3" name="place" type="radio" value="nationwide">
                        <label class="govuk-label govuk-radios__label" for="radios-3">
                          East of England
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="radios-4" name="place" type="radio" value="nationwide">
                          <label class="govuk-label govuk-radios__label" for="radios-4">
                            London
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radios-5" name="place" type="radio" value="nationwide">
                            <label class="govuk-label govuk-radios__label" for="radios-5">
                              North East
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="radios-6" name="place" type="radio" value="nationwide">
                              <label class="govuk-label govuk-radios__label" for="radios-6">
                                North West
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radios-7" name="place" type="radio" value="nationwide">
                                <label class="govuk-label govuk-radios__label" for="radios-7">
                                  South East
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="radios-8" name="place" type="radio" value="nationwide">
                                  <label class="govuk-label govuk-radios__label" for="radios-8">
                                    South West
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="radios-9" name="place" type="radio" value="nationwide">
                                    <label class="govuk-label govuk-radios__label" for="radios-9">
                                      West Midlands
                                    </label>
                                  </div>
                                  <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="radios-10" name="place" type="radio" value="nationwide">
                                      <label class="govuk-label govuk-radios__label" for="radios-10">
                                        Yorkshire and the Humber
                                      </label>
                                    </div>

                  
                </div>
          </div>
        </fieldset>

        <button class="govuk-button">Continue</button>

    </form>
    
     
  </div>
</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">


</script>

{% endblock %}