
{% extends "layout.html" %}

{% block pageTitle %}
What region would you like to find a Kickstart Gateway from? | Find a Kickstart Gateway
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" class="form" id="question-form" action="nationwide">

        <fieldset class="govuk-fieldset" id="where_fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
                What region would you like to find a Kickstart Gateway from?
            </h1>
            <span class="govuk-hint">You can choose a gateway that operates across England, or one specific to your region.</span>
          </legend> 
          <div class="govuk-form-group">
              <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="radios-1" name="place" type="radio" value="nationwide">
                    <label class="govuk-label govuk-radios__label" for="radios-1">
                      England wide
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="radios-1" name="place" type="radio" value="nationwide">
                      <label class="govuk-label govuk-radios__label" for="radios-1">
                        Regional
                      </label>
                    </div>
                  
                </div>
          </div>
        </fieldset>

        <button class="govuk-button">Continue</button>

    </form>
    
     
  </div>
</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">

          document.getElementById("radios-1").onclick = function () {
            var link = "nationwide";
            document.getElementById("question-form").action=link;
          }

          document.getElementById("radios-2").onclick = function () {
            var link = "england";
            document.getElementById("question-form").action=link;
          }

          document.getElementById("radios-3").onclick = function () {
            var link = "scotland";
            document.getElementById("question-form").action=link;
          }

          document.getElementById("radios-4").onclick = function () {
            var link = "wales";
            document.getElementById("question-form").action=link;
          }

</script>

{% endblock %}