
{% extends "layout.html" %}

{% block pageTitle %}
Find a Kickstart Gateway
{% endblock %}

{% block content %}

      
  <div class="govuk-grid-row govuk-!-margin-top-0">
    <div class="govuk-grid-column-full">
        <img src="../../public/images/campaign-site-top.jpg" alt="Kickstart Scheme Logo" class="full-width-image">
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <img src="../../public/images/campaign-site-30-more.jpg" alt="Kickstart Scheme Logo" class="full-width-image">
    </div>
    <div class="govuk-grid-column-one-half">
      <a href="start">
        <img src="../../public/images/campaign-site-less-than-30.jpg" alt="Kickstart Scheme Logo" class="full-width-image">
      </a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <img src="../../public/images/campaign-site-bottom.jpg" alt="Kickstart Scheme Logo" class="full-width-image">
    </div>
</div>

{% endblock %}
