
{% extends "layout.html" %}

{% block pageTitle %}
Where would you like to find a Kickstart Gateway? | Find a Kickstart Gateway
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" class="form" id="question-form" action="/version-0-5/east-midlands#nottinghamshire" >

        <fieldset class="govuk-fieldset" id="where_fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
                Where are you based? 
            </h1>
            <span class="govuk-hint">You can search for a country, a region or a county.</span>
          </legend> 
          <div class="govuk-form-group">
              <div id="autocomplete"></div>
            </div>
        </fieldset>

        <button class="govuk-button">Continue</button>

    </form>
    
     
  </div>
</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">


/*global accessibleAutocomplete*/
function customResults (query, matchedResults) {
  var results = [
  { areatype: 'Country', location: 'England' },
  { areatype: 'Country', location: 'Scotland' },
  { areatype: 'Country', location: 'Wales' },

  { areatype: 'Region', location: 'East Midlands' },
  { areatype: 'Region', location: 'East of England' },
  { areatype: 'Region', location: 'London' },
  { areatype: 'Region', location: 'North East' },
  { areatype: 'Region', location: 'North West' },
  { areatype: 'Region', location: 'South East' },
  { areatype: 'Region', location: 'South West' },
  { areatype: 'Region', location: 'West Midlands' },
  { areatype: 'Region', location: 'Yorkshire and the Humber' },

  { areatype: 'County', location: 'Buckinghamshire' },
  { areatype: 'County', location: 'Bedfordshire' },
  { areatype: 'County', location: 'Berkshire' },
  { areatype: 'County', location: 'Cambridgeshire' },
  { areatype: 'County', location: 'Cheshire' },
  { areatype: 'County', location: 'County Durham' },
  { areatype: 'County', location: 'Cornwall' },
  { areatype: 'County', location: 'Cumbria' },
  { areatype: 'County', location: 'Darlington' },
  { areatype: 'County', location: 'Derbyshire' },
  { areatype: 'County', location: 'Devon' },
  { areatype: 'County', location: 'Dorset' },
  { areatype: 'County', location: 'Essex' },
  { areatype: 'County', location: 'East Sussex' },
  { areatype: 'County', location: 'East Riding of Yorkshire' },
  { areatype: 'County', location: 'Greater London' },
  { areatype: 'County', location: 'Greater Manchester' },
  { areatype: 'County', location: 'Gloucestershire' },
  { areatype: 'County', location: 'Hampshire' },
  { areatype: 'County', location: 'Hartlepool' },
  { areatype: 'County', location: 'Herefordshire' },
  { areatype: 'County', location: 'Hertfordshire' },
  { areatype: 'County', location: 'Isle of Wight' },
  { areatype: 'County', location: 'Kent' },
  { areatype: 'County', location: 'Lancashire' },
  { areatype: 'County', location: 'Leicestershire' },
  { areatype: 'County', location: 'Lincolnshire' },
  { areatype: 'County', location: 'Merseyside' },
  { areatype: 'County', location: 'Middlesbrough' },
  { areatype: 'County', location: 'Norfolk' },
  { areatype: 'County', location: 'North East Lincolnshire' },
  { areatype: 'County', location: 'North Lincolnshire' },
  { areatype: 'County', location: 'North Yorkshire' },
  { areatype: 'County', location: 'Northamptonshire' },
  { areatype: 'County', location: 'Northumberland' },
  { areatype: 'County', location: 'Nottinghamshire' },
  { areatype: 'County', location: 'Oxfordshire' },
  { areatype: 'County', location: 'Redcar and Cleveland' },
  { areatype: 'County', location: 'Rutland' },
  { areatype: 'County', location: 'Shropshire' },
  { areatype: 'County', location: 'Somerset' },
  { areatype: 'County', location: 'South Yorkshire' },
  { areatype: 'County', location: 'Staffordshire,' },
  { areatype: 'County', location: 'Stockton-on-Tees' },
  { areatype: 'County', location: 'Suffolk' },
  { areatype: 'County', location: 'Surrey' },
  { areatype: 'County', location: 'Tyne and Wear' },
  { areatype: 'County', location: 'Warwickshire' },
  { areatype: 'County', location: 'West Midlands' },
  { areatype: 'County', location: 'West Yorkshire' },
  { areatype: 'County', location: 'West Sussex' },
  { areatype: 'County', location: 'Wiltshire' },
  { areatype: 'County', location: 'Worcestershire' },


  
  ]

  const checkMatch = results.filter(result => 
   result.location.toLowerCase().indexOf(query.toLowerCase()) !== -1 // || result.areatype.toLowerCase().indexOf(query.toLowerCase()) !== -1
  )
  matchedResults(checkMatch)
}

function inputValueTemplate (result) {
return result && result.location
}

function suggestionTemplate (result) {
return result && '<span class=\'areaname\'>' + result.location + '</span>' +
  '<span class=\'areatype\'>' + result.areatype + '</span>'
}
  
var element = document.querySelector('#autocomplete');
accessibleAutocomplete({
element: element,
id: 'autocomplete-class',
source: customResults,
templates: {
    inputValue: inputValueTemplate,
    suggestion: suggestionTemplate
}
});


</script>

{% endblock %}