
{% extends "layout.html" %}

{% block pageTitle %}
  Kickstart gateways serving Scotland | Find a Kickstart gateway
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
            <h1 class="govuk-heading-xl">
               Kickstart gateways serving Scotland
            </h1>
            <p class="govuk-body-l">You can contact a number of gateways to find out which can best meet your needs. Some gateways can support you even if you’re outside their local area.</p>
          

          </div>
          </div>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

            <table class="govuk-table table-smaller-text">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Organisation name</th>
                    <th scope="col" class="govuk-table__header">Sector</th>
                    <th scope="col" class="govuk-table__header">Telephone number</th>
                    <th scope="col" class="govuk-table__header">Email address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">4-22 Foundation LTD</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07765428318</td>
                    <td class="govuk-table__cell">gavin.jackson@4-22foundation.org</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Accounts Lab Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">kickstart@accountslab.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Adam Butler Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">01244 752 459</td>
                    <td class="govuk-table__cell">ab@adambutlerltd.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Adopt an Intern Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0131 677 0340</td>
                    <td class="govuk-table__cell">kickstart@aai-employability.org.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Ansar Youth Project</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">2089030300</td>
                    <td class="govuk-table__cell">kickstart@ansaryouth.org.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Bache Samuels LTD</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0113 328 0250</td>
                    <td class="govuk-table__cell">kickstart@bachesamuels.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Best HR Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0844 357 3388</td>
                    <td class="govuk-table__cell">kickstart@besthr.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">British Marine</th>
                    <td class="govuk-table__cell">Shipping; ports; fisheries; inland waterways, Education, Maritime sector</td>
                    <td class="govuk-table__cell">07584 563343</td>
                    <td class="govuk-table__cell">training@britishmarine.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Business 2 Business (U.K.) Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0800 995 6038</td>
                    <td class="govuk-table__cell">info@kickstart-uk.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Cameron Clarke Associates Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">01772 886799</td>
                    <td class="govuk-table__cell">info@talentfinderuk.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Capita PLC</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">dwpkickstart@capita.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Central YMCA</th>
                    <td class="govuk-table__cell">Voluntary and community, Health services, Education, Public service, Horticulture, early years- (preschool and nursery), health and social care business services (Customer service, business admin and team leading and management) and exercise and fitness (gyms, facility management)</td>
                    <td class="govuk-table__cell">07341 072519</td>
                    <td class="govuk-table__cell">Sallyann.smith@ymca.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Centric HR Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">03333 660567</td>
                    <td class="govuk-table__cell">enquiries@centrichr.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Change Agents UK Charity</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">01572 723419</td>
                    <td class="govuk-table__cell">contact@changeagents.org.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Coyne Recruitment LTD</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0151 294 4431</td>
                    <td class="govuk-table__cell">stuart@coynerecruitment.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Creative and Cultural Industries Ltd</th>
                    <td class="govuk-table__cell">Media; culture; graphical</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">sarah.hughes@ccskills.org.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">CVS Brent</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">020 3011 1690</td>
                    <td class="govuk-table__cell">kickstart@cvsbrent.org.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Doncaster Chamber of Commerce</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">ahibbitt@doncaster-chamber.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">eLawyer Services Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">01843 854812</td>
                    <td class="govuk-table__cell">contact@elawyer.services</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Executive Function Coaching UK   Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">(0)208 050 1605</td>
                    <td class="govuk-table__cell">kickstart@connectionsinmind.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Exemplia Group Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0203 871 8132</td>
                    <td class="govuk-table__cell">Alison.ryan@exempliagroup.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Finishes and Interiors Sector   Ltd</th>
                    <td class="govuk-table__cell">Construction, Finishes and Interiors Sector</td>
                    <td class="govuk-table__cell">44 (0)121 707 0077</td>
                    <td class="govuk-table__cell">paulglover@thefis.org</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">GradBay (LTD)</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">2039766500</td>
                    <td class="govuk-table__cell">kickstart@gradbay.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Holt Green Training Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07826 555556</td>
                    <td class="govuk-table__cell">training@holtgreentraining.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Hope Recruits Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0141 280 2651</td>
                    <td class="govuk-table__cell">claire.bruynseels@hope-recruits.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Impact People &amp; Change Ltd</th>
                    <td class="govuk-table__cell">Voluntary and community, Education, Health services, Construction</td>
                    <td class="govuk-table__cell">07894223097</td>
                    <td class="govuk-table__cell">natasha@impactpeopleandchange.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">INNOVATION CENTRE FOR   ENTERPRISE IN WALES LIMITED</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">02920 140040</td>
                    <td class="govuk-table__cell">keiran@welshice.org</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">KA001 Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07826 555556</td>
                    <td class="govuk-table__cell">training.ka001@gmail.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Kickstart Jobs UK</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">enquiries@kickstartjobs.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Milton Keynes Chamber of   Commerce</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">01908 547820</td>
                    <td class="govuk-table__cell">policy@chambermk.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Movement to Work</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">Info@movementtowork.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">National Association of Boys   &amp; Girls Clubs</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07962 20 55 02</td>
                    <td class="govuk-table__cell">andy.hamill@nabgc.org.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">National Skills Academy for   Rail (NSAR)</th>
                    <td class="govuk-table__cell">Transport (including civil aviation; railways; road   transport)</td>
                    <td class="govuk-table__cell">0203 021 0669</td>
                    <td class="govuk-table__cell">Kickstart@nsar.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Northamptonshire Chamber of   Commerce</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">01604 490490</td>
                    <td class="govuk-table__cell">policy@northants-chamber.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">NP Training &amp; Consultancy   Services Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">020 3488 2175</td>
                    <td class="govuk-table__cell">info@nptraining.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">NumberMill Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">7899937083</td>
                    <td class="govuk-table__cell">louise.rayner@numbermill.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Offploy Recruitment Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07398819994</td>
                    <td class="govuk-table__cell">Joe@offploy.org</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">One For The People Limited</th>
                    <td class="govuk-table__cell">Hotels; catering; tourism, Construction, Commerce, Catering &amp; Hospitality, Building &amp; Maintenance, Warehousing &amp; Distribution</td>
                    <td class="govuk-table__cell">01642 675010</td>
                    <td class="govuk-table__cell">kickstarters@one4thepeople.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Pegasus Search &amp; Selection   Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07799 898701</td>
                    <td class="govuk-table__cell">paul@pegasussearch.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">PEOPLEPLUS GROUP LIMITED</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07779 235 333</td>
                    <td class="govuk-table__cell">BMB@peopleplus.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Premier Training International   Ltd</th>
                    <td class="govuk-table__cell">Health services, Health and fitness, active leisure, fitness instructing and personal training</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">compliance.team@premierglobal.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Professional Training   Solutions Ltd</th>
                    <td class="govuk-table__cell">Health services, Education, Financial services; professional services, Hotels; catering; tourism, Early Years, Residential Childcare/Fostering and Adoption Agencies, Play/out of school settings, Schools and colleges, Health and Social Care, Healthcare/NHS/Hospices, Event Organisers, Voluntary Organisations, Charitable Organisations, Local Authorities, Hospitality, Recruitment Agencies, Nanny Agencies, Professional organisations (accountants etc).</td>
                    <td class="govuk-table__cell">01252 712945</td>
                    <td class="govuk-table__cell">enquiries@protrain-solutions.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Shadow Foundr Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">jason@shadowfoundr.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">SK Accountants (Mcr) Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0161 7207057</td>
                    <td class="govuk-table__cell">info@skaccountants.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Small Charities Coalition</th>
                    <td class="govuk-table__cell">Voluntary and community</td>
                    <td class="govuk-table__cell">0300 466 8011</td>
                    <td class="govuk-table__cell">kickstart@smallcharities.org.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Smarter Choices Initiative</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07826 555556</td>
                    <td class="govuk-table__cell">Info.smarterinitiative@gmail.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Smarter Community Choices CIC</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07826 555556</td>
                    <td class="govuk-table__cell">Info.smartercommunitychoices@gmail.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">St. Michaels and Lark Lane   Community Association</th>
                    <td class="govuk-table__cell">Voluntary and community, Education, Health services</td>
                    <td class="govuk-table__cell">0151 222 1089</td>
                    <td class="govuk-table__cell">larklanecommunitycentre@gmail.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Staffroutes Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0161 8814826</td>
                    <td class="govuk-table__cell">kickstart@staffroutes.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">T M Sterling Ltd.</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">01656 724806</td>
                    <td class="govuk-table__cell">cases@tmsterling.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">The Bristow Partnership Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07863549688</td>
                    <td class="govuk-table__cell">lisa@thebristowpartnership.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">The Duplication Centre Ltd</th>
                    <td class="govuk-table__cell">Media; culture; graphical, Financial services; professional services, Sales and marketing</td>
                    <td class="govuk-table__cell">01865 457000</td>
                    <td class="govuk-table__cell">cheryl@oxfordduplicationcentre.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">The Forward Trust</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07872 403541</td>
                    <td class="govuk-table__cell">Daniel.Cook@forwardtrust.org.uk      Or employment@forwardtrust.org.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">The   Graduate Project Limited</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0207 043 4629</td>
                    <td class="govuk-table__cell">Kickstarter@thegraduateproject.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">The National Society of Allied   and Independent Funeral Directors (SAIF Scotland)</th>
                    <td class="govuk-table__cell">Financial services; professional services, Funeral profession</td>
                    <td class="govuk-table__cell">07487742894</td>
                    <td class="govuk-table__cell">treasurer@saifscotland.org</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">The Prince’s Trust</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">kickstart@princes-trust.org.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">The Real Apprenticeship   Company Limited</th>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">01926 298020</td>
                    <td class="govuk-table__cell">dshandley@therealapprenticeshipcompany.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">The Security Institute</th>
                    <td class="govuk-table__cell">Financial services; professional services, Security sector</td>
                    <td class="govuk-table__cell">02476 346464        07850 445867</td>
                    <td class="govuk-table__cell">rick@security-institute.org     paul.barnard@security-institute.org</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">the training and learning   company</th>
                    <td class="govuk-table__cell">Health services, Education, Financial services; professional services, Hotels; catering; tourism</td>
                    <td class="govuk-table__cell">01792 700611</td>
                    <td class="govuk-table__cell">john@tlc-uk.org</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">The Wise Group</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">kickstart@thewisegroup.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">The Yoga Agency</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07501217042</td>
                    <td class="govuk-table__cell">info@theyogaagency.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Third Sector Consortia   Management LLP</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07436 530 042</td>
                    <td class="govuk-table__cell">Gareth.snaith@3sc.org</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">TIGERS</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0141 771 5200</td>
                    <td class="govuk-table__cell">office@tigersltd.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">TRS Training Limited</th>
                    <td class="govuk-table__cell">Transport (including civil aviation; railways; road transport), Transport equipment manufacturing, Construction</td>
                    <td class="govuk-table__cell">01744 809010</td>
                    <td class="govuk-table__cell">kickstart@trstraining.net</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">True Recruitment Limited</th>
                    <td class="govuk-table__cell">&nbsp;</td>
                    <td class="govuk-table__cell">01843 220636</td>
                    <td class="govuk-table__cell">operations@truerecruitmentkent.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Umbrella Training Ltd</th>
                    <td class="govuk-table__cell">Hotels; tourism; catering, Financial services; professional services, Education, Textiles; clothing; leather; footwear</td>
                    <td class="govuk-table__cell">0333 577 2557</td>
                    <td class="govuk-table__cell">Adele.oxberry@umbrellatraining.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Varsity Careers Hub Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">07500 941690</td>
                    <td class="govuk-table__cell">sebastian@varsitycareershub.co.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Virtual Internship Partners   Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">0207 193 7907</td>
                    <td class="govuk-table__cell">kickstart@virtualinternships.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Worcestershire County Council</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">01905 846 383</td>
                    <td class="govuk-table__cell">Jwilson1@worcestershire.gov.uk</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">WorkAdvisor Ltd</th>
                    <td class="govuk-table__cell">Any sector</td>
                    <td class="govuk-table__cell">02380 986171</td>
                    <td class="govuk-table__cell">philip.price@workadvisor.co.uk</td>
                  </tr>
                </tbody>
              </table>
     
  </div>
</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}