{% extends "dwp-prototype-index-page.html" %}

{% block summaries %}

  {{dwpPrototypeSummaries([
    
    {
      dateOfRelease: "8 October 2020",
      feature: "v1.2 - Sectors and nav choices",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-1-2/",
      changes: [
        "Ability to choose your geography type."
      ],
      research: [
        ""
      ]
    },{
      dateOfRelease: "6 October 2020",
      feature: "v1.1 - Bringing in sectors",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-1-1/",
      changes: [
        "Added sector search and postcode lookup."
      ],
      research: [
        ""
      ]
    },{
      dateOfRelease: "2 October 2020",
      feature: "v1.0 - Initial MVP",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-1-0/start",
      changes: [
        "As approved for first re;ease"
      ],
      research: [
        ""
      ]
    },
    {
      dateOfRelease: "30 September 2020",
      feature: "v0.8 - Variant of first idea, with radio labelling",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-0-8/start",
      changes: [
        "Some first ideas based on initital convos with team."
      ],
      research: [
        ""
      ]
    },
    
    {
      dateOfRelease: "24 September 2020",
      feature: "v0.7 - Select list of counties",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-0-7/start",
      changes: [
        "Some first ideas based on initital convos with team."
      ],
      research: [
        ""
      ]
    },
    {
      dateOfRelease: "24 September 2020",
      feature: "v0.6 - Radio buttons of counties",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-0-6/start",
      changes: [
        "Some first ideas based on initital convos with team."
      ],
      research: [
        ""
      ]
    },
    {
      dateOfRelease: "24 September 2020",
      feature: "v0.5 - Examine a Place style typeahead",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-0-5/start",
      changes: [
        "Some first ideas based on initital convos with team."
      ],
      research: [
        ""
      ]
    },
    {
      dateOfRelease: "24 September 2020",
      feature: "v0.4 - Only area based in/national, include county tables",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-0-4/start",
      changes: [
        "Some first ideas based on initital convos with team."
      ],
      research: [
        ""
      ]
    },
    {
      dateOfRelease: "24 September 2020",
      feature: "v0.3 - Ask area based in, include county tables",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-0-3/start",
      changes: [
        "Some first ideas based on initital convos with team."
      ],
      research: [
        ""
      ]
    },{
      dateOfRelease: "24 September 2020",
      feature: "v0.2 - Ask area based in",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-0-2/start",
      changes: [
        "Some first ideas based on initital convos with team."
      ],
      research: [
        ""
      ]
    },{
      dateOfRelease: "24 September 2020",
      feature: "Starting in main application journey",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-0-1/start",
      changes: [
        "Some first ideas based on initital convos with team."
      ],
      research: [
        ""
      ]
    }
  ])}}

{% endblock %}