{% extends "dwp-prototype-index-page.html" %}

{% block summaries %}

  {{dwpPrototypeSummaries([
    
    {
      dateOfRelease: "24 September 2020",
      feature: "First idea - going in at our start point",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-0-1/start",
      changes: [
        "Some first ideas based on initital convos with team."
      ],
      research: [
        ""
      ]
    },{
      dateOfRelease: "24 September 2020",
      feature: "Starting in main application journey",
      jiraStory: "-",
      buttonText: "Launch prototype",
      link: "/version-0-1/",
      changes: [
        "Some first ideas based on initital convos with team."
      ],
      research: [
        ""
      ]
    }
  ])}}

{% endblock %}