
{% extends "layout.html" %}

{% block pageTitle %}
  What role would you like to find out about? | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      Home
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" class="form" action="roles-javascript-developer">

        <fieldset class="govuk-fieldset" id="where_fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What role would you like to find out about?
            </h1>
          </legend> 
          <div class="govuk-form-group">
            <div id="autocomplete"></div>
          </div>
        </fieldset>

        <button class="govuk-button">Continue</button>

    </form>
    
     
  </div>
</div>

</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
    /*global accessibleAutocomplete*/
    function customResults (query, matchedResults) {
      var results = [
      
      { areatype: 'Web and Software Development', name: 'Javascript developer' }
      
      ]
      const checkMatch = results.filter( function(result){
       return result.name.toLowerCase().indexOf(query.toLowerCase()) !== -1; } // || result.areatype.toLowerCase().indexOf(query.toLowerCase()) !== -1
      )
      matchedResults(checkMatch)
    }

  function inputValueTemplate (result) {
    return result && result.name
  }

  function suggestionTemplate (result) {
    return result && '<span class=\'areaname\'>' + result.name + '</span>' +
      '<span class=\'areatype\'>' + result.areatype + '</span>'
  }
      
  var element = document.querySelector('#autocomplete');
  accessibleAutocomplete({
    element: element,
    id: 'autocomplete-class',
    source: customResults,
    templates: {
        inputValue: inputValueTemplate,
        suggestion: suggestionTemplate
    }
  });


</script>

{% endblock %}
